@(message: String, myList: List[Reserve])


<!--calling the template main, and passing in a String parameter, which is then used inside the main.html page-->
@main("reservations") {

	<img src = "@routes.Assets.at("images/banner.jpg")" />
	<h2>@message</h2>
	
	<table>
	@{var x = 0}
    	@for(x <- 0 until myList.size()){  
    	
    	
    	<tr>
    	
    		<td>@myList.get(x).getReservationID()</td>
    		<td><a href="@routes.Application.getReservation(myList.get(x).getReservationID())">@myList.get(x).getGuest.getName()</a></td>

    		<td>@myList.get(x).getRoomRate()</td>
    		
    	</tr>
    	   	
    	}
    </table>
	
	rest of html text goes here, to make up the rest of the page
	
	<p><a href = "@routes.Application.index("")">back to Home Page</a></p>
}